.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  margin-bottom: 1em;
}

.input,
.textarea,
.select,
.button,
.fileInput {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  border-bottom: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  background: white;
}

.input,
.select {
  flex: 1 1 30%;
}

.fileInput {
  padding: 0%;
  flex: 1 1 50%;
}

.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
  outline: 0;
}

.textarea {
  flex-basis: 100%;
}
