.preview {
  flex-basis: 50%;
  background-color: white;
  overflow-y: auto;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: var(--color-blue);
}

.cards {
  width: 100%;
  height: 100%;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
