.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.input {
  display: none;
}

.button {
  width: 100%;
  background-color: var(--color-yellow);
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  color: white;
}

.button:hover {
  opacity: 0.8;
}
