.container {
  width: 50%;
  padding: 0.2em;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: transform 0.25s ease-in;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
}
.video:hover {
  transform: scale(1.02);
}
.thumbnail {
  width: 40%;
  height: 100%;
}
.title,
.channelTitle {
  margin: 0;
  font-size: 0.8rem;
}
.channelTitle {
  font-size: 0.8rem;
}

.metadata {
  margin-left: 0.2em;
}
