html {
  font-family: 'Apple SD Gothic Neo', Roboto, 'Noto Sans KR', NanumGothic,
    'Malgun Gothic', sans-serif;
  color: #555;
  line-height: 1.2;
  word-wrap: break-word;
  box-sizing: border-box;
}
body {
  background: #eee;
  -webkit-font-smoothing: antialiased;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
div,
span,
article,
section,
header,
footer,
aside,
p,
ul,
li,
fieldset,
legend,
label,
a,
nav,
form {
  box-sizing: border-box;
  /* content-box */
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
a {
  display: inline-block;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.flex-container {
  /* padding: 10px; */
  background: lightgray;
}
.flex-item {
  padding: 10px;
  border: 3px solid rgb(50, 50, 40);
  color: white;
  background: mediumseagreen;
}

.list-item {
  position: relative;
}
.habit {
  font-size: 1.8rem;
  opacity: 0.8;
  border: 0;
  cursor: pointer;
  background-color: white;

  margin-bottom: 4rem;
  height: 100px;
  overflow: auto;
  padding: 10px;
  padding-right: 3rem;
  border-radius: 6px;
}
.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;

  background-color: #f7b01d;
  color: white;
  border-radius: 5px;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: #f59f56;
}
.habit-delete {
  font-size: 2rem;
  color: #f59f56;
}

.habit-count {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
.habit-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: -2.6rem;
  /* background-color: #1e1f22; */
}

/* TopBar */
.nav {
  font-size: 3rem;
  padding-left: 3rem;
  background-color: #3dc03d;

  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.nav header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-count {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #3ab995;
  text-align: center;
  line-height: 3.5rem;
  font-size: 2rem;
  margin-left: 5px;
}

.habit-from {
  background-color: #e9e9e9;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 0 2vw;
  z-index: 2;
}

.habit-from input[type='text'] {
  display: inline-block;
  height: 4vh;
  width: 60vw;
  border-radius: 5px;
  margin-right: 4px;
  padding-left: 1rem;
  font-size: 1.5rem;
  outline: none;
  background-color: white;
}
.habit-from button[type='submit'] {
  display: block;
  width: 3rem;
  height: 4vh;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
}

.list {
  padding: 0 2rem;
}

.reset-btn {
  background-color: sandybrown;
  width: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}
